body{
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


#navContainer{
    padding-left: 25px;
    padding-right:25px;
    padding-top: 1%;
    padding-bottom: 1%;
}

#leftDivLand{
    background-color: #88D7F4;
    height:100vh;
    padding-top: 20%; 
    padding-left: 3%;
}
.btn{
    width:inherit;
    height:45px;
    margin-top:15px;
    border-radius: 75px;
    font-size:18px;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#btn-sign{
    background-color: #88D7F4;
    color:#FFFFFF;
    border-color:#88D7F4;
}


#btn-sign:hover{
    background-color:#FFFFFF;
    color:#88D7F4;
    border-width:2px;
    
}

#btn-log{
    color:#88D7F4;
    border-color:#88D7F4;
    border-width:2px;
}

#btn-log:hover{
    background-color: #88D7F4;
    color:#FFFFFF;
    border-color:#88D7F4;
}

#btn-group{
   width: 300px;
   margin-top: 50%;
   margin-left:25%;
}
#mainNav{
    background-color: #88D7F4;

} 
#quote{
    color: #FFFFFF;
    font-size: 50px;
    text-shadow: 1px 1px #8b8b8b;
    vertical-align: middle;
    
}
.navbar-brand{
    color:#707070;
    font-weight: 100;
    font-size: 60px;

}
#title{
    color: #8b8b8b;
    margin-top: 27%;
    margin-left: 20%;
    font-size:70px;
    text-shadow:1px 1px black;
}
#navList a{
    color: white;
    text-decoration-line: none;
}

#navList a:hover{
    color: #7EAFC1;
}

.navItem{
    font-size:30px;
    margin-left:40px;
}









/********************** the style guide for the game *****************************************/

/* start game button  */
#start-game{
    display: block;
    margin-left: auto;
    margin-top: 37vh;
    margin-right: auto;
    width: 20%;
    height: 50px;
    border-radius:100px;
    font-size:20px;
    font-family: sans-serif;
    background-color:#88D7F4;
    color:white;
    text-align:center;
    transition:color 0.25s ease;
}

#start-game:hover{
    background-color: rgb(121, 179, 199);
}


/* modal content */
.modal-title{
    font-weight: 200;
    font-family:"HelveticaNeue-Medium";
    text-align: center;
}

#select-mode{
    display: inline-grid;
    margin-left: 38%;
}

#select-text{
    font-size:15px;
}

/* main tweet cards */
.panel{
    padding:20px;
    font-family:sans-serif;
    height:inherit;
    width:500px;
    display:inline-block;
}
#game{
    margin-top:8%;
    margin-left: 34%;
    width: 500px;
}
p{
    display: inline;
}
#user_name{
    margin-left: 30px;
}
#name{
    font-family: sans-serif;
    font-weight:bold;
}

.data{
    display:inline;
}
#img-contain{
    height:inherit;
}

.col-sm-3{
    margin-left: -26px;

}
.col-sm-6{
    width: 84%;
    margin-left: -50px;
    text-align:left;
    padding-left: 34px;
}

/* Anna added*/
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 700px;
}
#titleStats {
    color: rgb(255, 166, 0);
    position: relative;
    bottom: 0px;
    left: 105px;
    font-size: 40px;
    margin: 0;
}
/* Creating the ranking numbers */
#rankNumber1 {
    color: gray;
    position: relative;
    bottom: 90px;
    left: 140px;
    font-size: 100px;
}
#rankNumber2 {
    color: gray;
    position: relative;
    bottom: 90px;
    left: 140px;
    font-size: 100px;
}
#rankNumber3 {
    color: gray;
    position: relative;
    bottom: 90px;
    left: 140px;
    font-size: 100px;
}
#rankLabel {
    color: rgb(61, 115, 231);
    position: relative;
    bottom: 0px;
    left: 130px;
    font-size: 40px;
}
#userLabel {
    color: rgb(61, 115, 231);
    position: relative;
    bottom: 55px;
    left: 270px;
    font-size: 40px;
}
#pointsLabel {
    color: rgb(61, 115, 231);
    position: relative;
    bottom: 110px;
    left: 670px;
    font-size: 40px;
}

#donald
{
    border-radius: 50%;
}
#kanye
{
    border-radius: 50%;
}
#shaun
{
    border-radius: 50%;
}

.circle-chart
{
    background-image: linear-gradient(to right, rgba(206, 203, 203, 0.44), rgb(106, 176, 206))  
}

