<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href=" /static/css/style.css">
    <title>Fake Tweets</title>
    </head>
    <body>
         <nav class = "navbar navbar-default" id = "mainNav">
         <div class = "container-fluid" id ="navContainer">
             <div class="navbar-brand" href="#">Fake Tweets</div>
             <ul class = "nav navbar-nav navbar-right" id="navList">
             </ul>
         </div>
     </nav>
        <div id = "game" >
            <button class ="panel panel-default row" id = "1"><div id = "content1"></div></button>
            <button class ="panel panel-default row" id = "2">"><div id = "content2"></div></button>
            <button class ="panel panel-default row" id = "3">"><div id = "content3"></div></button>
        </div>
    </body>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/static/js/navbar.js"></script>
    <script type="text/javascript" src="/static/js/api.js"></script>
    <script type="text/javascript" src="/static/js/tweetcard.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</html>