<!DOCTYPE html>
<html>
  <head>

    <!-- bootstrap api  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href=" /static/css/style.css">
    <title>Fake Tweets</title>

  </head>
  <body>
      <nav class = "navbar navbar-default" id = "mainNav">
          <div class = "container-fluid" id ="navContainer">
              <div class="navbar-brand" href="#">Fake Tweets</div>
              <ul class = "nav navbar-nav navbar-right" id="navList">
              </ul>
          </div>
      </nav>

      <button class = "btn" id = "start-game" data-toggle="modal" data-target="#myModal">START GAME</button>

      <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Instructions</h4>
        </div>
        <div class="modal-body" id="modal-body">
        </div>
        <div class="modal-footer">
        </div>
      </div>

    </div>
  </div>
      <div id ="game">
      </div>
  </body>

  <script src = "/socket.io/socket.io.js"></script>

    <!-- bootstrap js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



    <script type="text/javascript" src="/static/js/api.js"></script>
    <script type="text/javascript" src="/static/js/modal.js"></script>
    <script type="text/javascript" src="/static/js/navbar.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/static/js/host.js"></script>

</html>
